<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ question.title }}</title>
</head>
<body>
    <h1>{{ question.title }}</h1><br>
    {{ question.message }}<br>
    Posted: {{ question.get_date() }}
    Views: {{ question.view_number }}
    Votes: {{ question.vote_number }}<br><br>
    {% if answers|length > 0 %}
        <h2>Answers:</h2>
        {% for answer in answers %}
            <h3>{{ answer.title }}</h3>
            {{ answer.message }}
            Posted: {{ answer.get_date() }}
            Votes: {{ answer.vote_number }}<br>
        {% endfor %}
    {% else %}
        <h2>No answers posted!</h2>
    {% endif %}
    <br>
    <form action="{{ url_for('list_questions') }}">
        <input type="submit" value="Questions List">
    </form>
</body>
</html>